<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- 1. Console Appender for Local / Dev Profiles (Plain Text for Readability) -->
    <springProfile name="local | dev">
        <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] [%X{traceId}] [%X{spanId}] %-5level %logger{36} - %msg%n</pattern>
            </encoder>
        </appender>
    </springProfile>

    <!-- 2. Console Appender for Non-Local Profiles (JSON format using LogstashEncoder) -->
    <springProfile name="!local &amp; !dev">
        <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <encoder class="net.logstash.logback.encoder.LogstashEncoder">

            </encoder>
        </appender>
    </springProfile>

    <appender name="ROLLING_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/payment-service.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>logs/archived/payment-service-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>10MB</maxFileSize>
            <maxHistory>30</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <includeMdcKeyName>traceId</includeMdcKeyName>
            <includeMdcKeyName>spanId</includeMdcKeyName>
        </encoder>
    </appender>

    <springProperty scope="context" name="LOKI_URL" source="loki.url" defaultValue="http://localhost:3100/loki/api/v1/push"/>

    <appender name="LOKI" class="com.github.loki4j.logback.Loki4jAppender">
        <http>
            <url>${LOKI_URL}</url>
        </http>
        <labels>
            app = rally-payment
            host = ${HOSTNAME}
        </labels>
        <structuredMetadata>
            level = %level
            thread = %thread
            logger = %logger
            traceId = %X{traceId}
            spanId = %X{spanId}
            correlationId = %X{X-Correlation-Id}
        </structuredMetadata>
        <message>
            <pattern>%-5level [%thread] [%X{traceId}] [%X{spanId}] [%X{X-Correlation-Id}] %logger{36} - %msg%n</pattern>
        </message>
        <batch>
            <maxItems>200</maxItems>
            <timeoutMs>5000</timeoutMs>
        </batch>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="ROLLING_FILE"/>
        <appender-ref ref="LOKI"/>
    </root>

</configuration>